.wrapper{
  width: 500px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.bottom{
  position: absolute;
  top: 0;
  width: 80%;
  background: red;
  border-radius: 50%;
  height: 40px;
  z-index: 1;
}

.mask-img{
  position: absolute;
  width: 80%;
  z-index: 5;
  top: 16px;
  animation-name: YAnimation;
  animation-delay: 0s; /* 延迟设置 */
  animation-duration: 1.6s; /* 定义动画应花费多长时间 */
  animation-iteration-count: infinite; /* 动画次数 */
  animation-timing-function: linear; /* 定义速度曲线 */
}

.imgs1{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.text1{
  position: absolute;
  bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #ffec00;
  animation-name: ScaleAnimation;
  animation-delay: 0s; /* 延迟设置 */
  animation-duration: 1s; /* 定义动画应花费多长时间 */
  animation-iteration-count: infinite; /* 动画次数 */
  animation-timing-function: linear; /* 定义速度曲线 */
}

@keyframes ScaleAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes YAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
